
@{
    ViewData["Title"] = "login";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>FABVIEW-生产管理系统 登录</title>
    <link href="~/images/favicon.ico" type="image/x-icon" rel="stylesheet" />
    <link href="~/lib/themes/bootstrap/easyui.css" rel="stylesheet" type="text/css"/>
    <link href="~/lib/themes/icon.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/table.css" rel="stylesheet" type="text/css"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery.easyui.min.js" type="text/javascript"></script>
    <script src="~/js/easyui-lang-zh_CN.js" type="text/javascript"></script>
    <script src="~/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="~/js/common.js" type="text/javascript"></script>
    <style type="text/css">
        .code{
            background-color:white;
            font-family:Arial;
            font-style:italic;
            color:red;
            border:0;
            padding: 2px 3px;
            letter-spacing:3px;
            font-weight:bolder;
            cursor:pointer;
            width:60px;
        }

        .unchanged{
            border:0;
        }

    </style> 

    <script type="text/javascript">
        var city; //访问者所在城市
        $(function () {
            $("#loginDialog").dialog({
                title: "系统登录",
                closable: false,
                model: true,
                width: 400,
                height: 300,
                buttons: [{
                    id:"loginBtn",
                    text:"登录",
                    handler: function () {
                        if ($("#loginFrm").form('validate')) {
                            $("#loginFrm").submit();
                        }
                    }
                }]
            })
        })


        var url = location.href;
        //登录
        $("#loginFrm").form()

    </script>

</head>
<body>
</body>
</html>

