

*{
    font-size:13px;
}

body {
    background:#D2E0F2;
}
.tableFrom{
    border-collapse:collapse;
}

.tableFrom th{
    text-align:right;
    border-bottom:1px dotted #ccc;
    padding:5px;
}

.tableFrom td
{
    text-align:left;
    border-bottom:1px dotted #ccc;
    padding:5px;
}